{% extends "base.html" %}
{% block title %}Productos{% endblock %}
{% block contenido %}
<div class="container">
    <h2 class="titulo">📦 Gestión de Productos</h2>
    <div class="form-filtros">
        <form method="get" action="{{ url_for('productos') }}">
            <input type="text" name="q" class="input-text" placeholder="Buscar por nombre o código..." value="{{ request.args.get('q', '') }}">
            
            <button type="submit" class="btn-buscar">🔍 Buscar</button>
            <a href="{{ url_for('nuevo_producto') }}" class="btn-mini">➕ Nuevo Producto</a>
        </form>
    </div>
</div>

{% endblock %}
